BODY, H2, H3, H4, H5, H6, TH, TD {
font-family: arial, helvetica, sans-serif;
}
H1 {
    font-size: 38px;
    font-family: arial, helvetica, sans-serif;
}
.bullet{
    fill: red;
}

.alienBullet{
    fill: white;
}

.hidden{
    visibility: hidden;
}

.octopus{
    fill: rgb(255, 65, 208);
}

.crab{
    fill: red;
}

.squid{
    fill: rgb(255, 255, 255)
}

.gameover {
    font-family:sans-serif;
    font-size:80px;
    fill:rgb(255, 251, 0);
  }

.score {
    font-family: sans-serif;
    font-size: 31px;
    fill: white;
}

.key {
    width:18px;
    text-align:center;
    border-radius:3px;
    background-color:lightgray;
}
.highlight {
    background-color:pink;
}
div#controls {
      float: right;
      margin: 50px;
}